/* common css */
@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Italic";
  src: url("./assets/fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}
* {
  margin: 0;
}
input {
  width: 70px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 10px;
  margin-left: 5px;
}
label {
  font-family: "Poppins-Bold";
  font-weight: 800;
  font-size: 10px;
  color: #7d7d7d;
  letter-spacing: 3px;
}
input::placeholder {
  color: #7d7d7d;
  font-family: "Poppins-Bold";
  font-weight: 800;
  font-size: 20px;
}
.container {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  width: 500px;
  padding: 25px;
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 10px 10px 120px 10px;
}
/* Input Div */
input {
  display: flex;
  align-items: center;
  justify-content: center;
}
input:focus {
  border: none;
}
.input-container {
  display: flex;
  gap: 50px;
}
.input-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.valid_day {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins-Italic";
}
/* Submit btn-div */
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  background-color: #f0f0f0;
  display: flex;
  flex: 1;
  width: 415px;
  height: 2px;
}
img {
  background-color: #864cff;
  border-radius: 30px;
  padding: 8px;
}
/* calculate-div */
.calculate-div {
  padding: 5px;
}
.calculate-div h1 {
  font-family: "Poppins-ExtraBold";
  display: flex;
  margin: 0px;
  align-items: center;
  gap: 10px;
  font-size: 60px;
  font-weight: 400;
  display: flex;
}
span {
  color: #864cff;
}
@media screen and (max-width: 768px) {
  .container1 {
    width: 315px;
    padding: 29px;
    gap: 10px;
  }
  .input-container {
    gap: 12px;
  }
  .calculate-div {
    padding: 0px;
  }
  .calculate-div h1 {
    font-size: 50px;
  }
}
